body {
    background-image: url('images/background-618226.png');
}

.container1 {
    margin-top: 0;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    
}

.margin {
    margin-left: 73%;
}

.content {
    display: inline-block;
    
}

#grad {
    background-image: linear-gradient(to right,#659F55, #C4BB55,#FFB855,#FF6669,#FF5B6A);
}
.container2 {
    margin-top: 7em;
    margin-bottom: 4em;
    text-align: center;
}

.iconImg {
    display: absolute;
    border-radius: 50%;
    margin: 2em 39%;
}

.mainPG {
    width: 30%;
    margin: 2em auto;
}

.gmail {
    display: inline-block;
    margin-left: 45%;
    width: 2%;
    height: 2%;
}

.github {
    display: inline-block;
    margin-left: 1em;
    width: 2%;
    height: 2%;
}

.linkedin {
    display: inline-block;
    margin-left: 1em;
    width: 2%;
    height: 2%;
}

.profiles {
    padding-top: 3em;
    padding-bottom: 3em;
}

