body {
    background-image: url('images/background-618226.png');
}

.container1 {
    display: flex;
    justify-content: flex-end;
}

.container2 {
    margin-top: 7em;
    margin-bottom: 4em;
    text-align: center;
}

.iconImg {
    display: absolute;
    border-radius: 50%;
    margin: 2em 39%;
}

.mainPG {
    width: 30%;
    margin: 2em auto;
}

.gmail {
    display: inline-block;
    margin-left: 45%;
    width: 2%;
    height: 2%;
}

.github {
    display: inline-block;
    margin-left: 1em;
    width: 2%;
    height: 2%;
}

.linkedin {
    display: inline-block;
    margin-left: 1em;
    width: 2%;
    height: 2%;
}

.profiles {
    padding-top: 3em;
    padding-bottom: 3em;
}

